<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <title>Cheat Sheet</title>
  </head>
  <body>

    <nav>
      <a href='/'>Home</a>
      <a href='/ask'>Ask A Question</a>
      <a href='/add'>Add Your Own Answer</a>
      <a href='/answer'>See Answer Bank</a>
      <a href='/reset'>Reset</a>
    </nav>

  <div class="pic">
    <img class="eightpic" src='images/eight.jpg' alt='comic' />
  </div>

  <%= yield %>
  </body>
  </html>
